Treinamento.Presentation.WebMVC/Service References/PedidosService/PedidosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55199/PedidosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55199/PedidosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55199/PedidosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Treinamento.Entities" />
      <xsd:import schemaLocation="http://localhost:55199/PedidosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Treinamento.Entities.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidosService_RetornarItens_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarItens" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_RetornarItens_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarItensResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_GravarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GravarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_GravarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GravarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_AtualizarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_AtualizarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_ExcluirPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_ExcluirPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_RetornarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidosService_RetornarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidosService">
    <wsdl:operation name="RetornarItens">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/RetornarItens" message="tns:IPedidosService_RetornarItens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/RetornarItensResponse" message="tns:IPedidosService_RetornarItens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GravarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/GravarPedido" message="tns:IPedidosService_GravarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/GravarPedidoResponse" message="tns:IPedidosService_GravarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/AtualizarPedido" message="tns:IPedidosService_AtualizarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/AtualizarPedidoResponse" message="tns:IPedidosService_AtualizarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/ExcluirPedido" message="tns:IPedidosService_ExcluirPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/ExcluirPedidoResponse" message="tns:IPedidosService_ExcluirPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidosService/RetornarPedido" message="tns:IPedidosService_RetornarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidosService/RetornarPedidoResponse" message="tns:IPedidosService_RetornarPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidosService" type="tns:IPedidosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarItens">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/RetornarItens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/GravarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/AtualizarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/ExcluirPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidosService/RetornarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidosService">
    <wsdl:port name="BasicHttpBinding_IPedidosService" binding="tns:BasicHttpBinding_IPedidosService">
      <soap:address location="http://localhost:55199/PedidosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>